@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #04C5DB, #51A2DB);

}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #366e95a3;
    width: 700px;
    height: auto;
    padding: 10px;
    margin: auto;
}

h1{
    color: #09dbcd;
    text-align: center;
    text-shadow: 1px 1px 1px #069d93ac ;
}

h2{
    color: #1F8DDB;
}

p{
    text-align: center;
}
